{{#partial "content"}}

    <h1>Add a Hero!</h1>

    <form action="/hero" method="post">
        <label for="name"> Hero's Name</label>
        <input id="name" name="name" type="name">

        <label for="age"> Hero's Age</label>
        <input id="age" name="age" type="age">

        <label for="power"> Hero's Hero</label>
        <input id="power" name="power" type="power">

        <label for="weakness"> Hero's Weakness</label>
        <input id="weakness" name="weakness" type="weakness">

        <label for="gender"> Hero's Weakness</label>
        <input id="gender" name="gender" type="gender">

        <button type="submit" class="btn btn-default">Add new blog post</button>
    </form>
{{/partial}}

{{> layout.hbs}}