{{#partial "content"}}


    <div  class="well">

        <h1>!!!Success!!!</h1>

        Hero Name: {{name}} <br>

        Hero's Age:  {{age}} <br>

        Hero's Power: {{power}} <br>

        Hero's Weakness:  {{weakness}}
        <br>

        <a href="/squad-form">Assign Squard</a>
    </div>




{{/partial}}

{{> layout.hbs}}