{{#partial "content"}}


    <div  class="well">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://vignette.wikia.nocookie.net/marveldatabase/images/1/18/Gamora_%28Earth-12131%29_from_Marvel_Avengers_Alliance_001.png/revision/latest?cb=20140811235757">
            </div>
            <div class="col-sm-4">

                <h1>!!!Success!!!</h1>

                Hero Name: {{name}} <br>

                Hero's Age:  {{age}} <br>

                Hero's Power: {{power}} <br>

                Hero's Weakness:  {{weakness}}<br><br><br>

                <button class="btn btn-primary"><p><a href="/squad-form">Assign Squad</a></p></button>
            </div>
            <div class="col-sm-4">
                <img src="https://www.sideshow.com/storage/product-images/903658/super-powers-batman_dc-comics_silo_sm.png">
            </div>
        </div>


    </div>




{{/partial}}

{{> layout.hbs}}