{{#partial "content"}}


    <div  class="well">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://vignette.wikia.nocookie.net/marveldatabase/images/1/18/Gamora_%28Earth-12131%29_from_Marvel_Avengers_Alliance_001.png/revision/latest?cb=20140811235757">
            </div>
            <div class="col-sm-4">
                <h1>!!!Success!!!</h1>

                Hero Name: {{name}} <br>

                Hero's Age:  {{age}} <br>

                Hero's Power: {{power}} <br>

                Hero's Weakness:  {{weakness}}
                <br>

                <a href="/squad-form">Assign Squard</a>
            </div>
            <div class="col-sm-4">
                <img src="https://static-ca.ebgames.ca/images/products/738682/3max.jpg">
            </div>
        </div>


    </div>




{{/partial}}

{{> layout.hbs}}