{{#partial "content"}}

    <h1>!!!Success!!!</h1>

    Hero Name: {{name}} <br>

    Hero's Age:  {{age}} <br>

    Hero's Power: {{power}} <br>

    Hero's Weakness:  {{weakness}}
    <br>

    has been added!


<!--    <a href="/squad">Assign Squard</a>-->
{{/partial}}

{{> layout.hbs}}