{{#partial "content"}}

    <h1>Welcome to hero Squad</h1>
    <p> It is also a self-aware parody of the Marvel characters, let's create our heroes and assign them super powers, flaws and other amazing thing.
        start the journey, design your own character!</p>

    <p><a href="/adding">Add</a></p>

{{/partial}}

{{> layout.hbs}}