
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hero Squad{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <style>
        body {
        background-image:url("https://wallpaperplay.com/walls/full/4/a/b/137804.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        color:white;
    }

    .well{
        margin-top:100px;
        opacity:0.8;
        color:black;
        border-radius:50px;
        text-align:center;
    }
    img{
    width:250px;
    height:250px;
    border-radius:50%;
    }

    .form-control{
    width:25em;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

    </style>

</head>
<body>

<!--    <style>-->
<!--        background-image:url("https://i.imgur.com/1mLzjRb.jpg")-->
<!--    </style>-->


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">HOME</a></li>
    <li role="presentation"><a href="/posts/new">CREATE HERO </a></li>
    <li role="presentation"><a href="/squad-form">CREATE SQUAD</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
<!--        <img src="/images/caspar-rubin-224229.jpg" width="70%">-->
        <h1>Welcome to Hero Squad. </h1>

    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

<div class="footer">
    <p>Hero Squad © 2019</p>
</div>


    <!--end main template-->
{{#block "footer"}}




    </body>
    </html>
{{/block}}