{{#partial "content"}}


    <div class="container">

        <div class="well">
            <h1>Create a new hero!</h1>
            <small> ~turn your imaginations into epic~ </small>
            <center>
                <form action="/posts/new" method="post">
                    <div class="form-group">
                        <label for="name"> Hero's Name</label>
                        <input id="name" name="name" type="text" class="form-control"><br>
                    </div>

                    <div class="form-group">
                        <label for="age"> Hero's Age</label>
                        <input id="age" name="age" type="age" class="form-control"><br>
                    </div>

                    <div class="form-group">
                        <label for="power"> Hero's Power</label>
                        <input id="power" name="power" type="power" class="form-control"><br>
                    </div>

                    <div class="form-group">
                        <label for="weakness"> Hero's Weakness</label>
                        <input id="weakness" name="weakness" type="weakness" class="form-control"><br>
                    </div>


                    <button type="submit" class="btn btn-success">Create Hero</button>



                </form>
            </center>
        </div>

    </div>



{{/partial}}

{{> layout.hbs}}